<div id="forgot-box" class="forgot-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="icon-key"></i>
                Retrieve Password
            </h4>

            <div class="space-6"></div>

            <p>
                Enter your email and to receive instructions
            </p>

            <form action="{{ path('admin_forgot_password') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
                <fieldset>
                    <label class="block clearfix">
                        <div class="f-p-message"></div>

                        <span class="block input-icon input-icon-right">
                            {{ form_widget(form.email, {attr: { class: 'form-control', placeholder: 'Email' }}) }}
                            <i class="icon-envelope"></i>
                        </span>
                    </label>

                    <div class="clearfix">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-danger f-password">
                            <i class="icon-lightbulb"></i>
                            Send Me!
                        </button>
                    </div>
                </fieldset>

                {{ form_rest(form) }}
            </form>
        </div>

        <div class="toolbar center">
            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                Back to login
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
