Hello,<br /><br />

You have requested a password reset.<br />
You can reset your password clicking : <a href="{{ url('bigfoot_reset_password', { confirmationToken: token }) }}">here</a><br /><br />

Thank you.
